.player {
  //center all items vertically
  align-items: center;
  display: flex;
  //lets you specify where the elements should be positioned
  justify-content: space-between;
}

.player__name {
  font-weight: 300;
  font-size: 1.8rem;
}

.player__stats {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 300;
}

.player__actions {
  //this tells flexbox to never shrink the item
  flex-shrink: 0;

}
